<% if @authors.any? %>
  <%= paginate @authors %>
  <table>
    <thead>
    <tr>
      <th><%= sort_link('full_name', t('activerecord.attributes.author.full_name')) %></th>
      <th><%= sort_link('author_type', t('activerecord.attributes.author.author_type')) %></th>
      <th><%= t('activerecord.attributes.author.ebook_count') %></th>
      <th><%= sort_link('active', t('activerecord.attributes.author.active')) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="authors-list">
    <% @authors.each do |author| %>
      <%= render partial: 'authors/author', locals: { author: author } %>
    <% end %>
    </tbody>
  </table>
  <%= paginate @authors %>

<% else %>
  <p class="padding-10"><%= t('views.authors.no_authors') %></p>
<% end %>
