<% if @authors.any? %>
  <%= paginate @authors %>
  <table>
    <thead>
    <tr>
      <th><%= sort_link('full_name', t('activerecord.attributes.author.full_name')) %></th>
      <th><%= sort_link('content', t('activerecord.attributes.author.content')) %></th>
      <th><%= sort_link('active', t('activerecord.attributes.author.active')) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td data-label="full_name"><%= author.full_name %></td>
        <td data-label="contect"><%= author.content_trim %></td>
        <td data-label="active">
          <%= content_tag(:i, "", class: "mdi #{author.active ? 'mdi-check-circle text-green-500' : 'mdi-close-circle text-red-500'}") %>
        </td>
        <td class="actions-cell">
          <div class="buttons right nowrap">
            <button class="button small blue --jb-modal"  data-target="sample-modal-2" type="button">
              <span class="icon"><i class="mdi mdi-eye"></i></span>
            </button>
            <button class="button small red --jb-modal" data-target="sample-modal" type="button">
              <span class="icon"><i class="mdi mdi-trash-can"></i></span>
            </button>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @authors %>

<% else %>
  <p class="padding-10"><%= t('views.authors.no_authors') %></p>
<% end %>
