<% if @errors.present? %>
  <%= turbo_stream.update 'authors_errors', partial: 'authors/errors', locals: { errors: @errors } %>
<% else %>
  <%= turbo_stream.update "authors_notice", partial: 'shared/notice', locals: { notice: t('views.authors.update_success') } %>
  <%= turbo_stream.prepend "authors_notice" do %>
    <div data-controller="auto-fade-out" ></div>
  <% end %>
  <%= turbo_stream.update "author_#{@author.id}" do %>
    <%= render partial: 'authors/author_items', locals: { author: @author }, highlight: true %>
  <% end %>
<% end %>
