<%= form_with model: @user, url: update_password_user_path(@user), data: { turbo: true } do |f| %>
  <div class="field">
    <%= f.label :current_password, class: "label required" %>
    <div class="control">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input", required: true %>
    </div>
  </div>
  <hr>
  <div class="field">
    <%= f.label :password, class: "label required" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", required: true %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "label required" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", required: true %>
    </div>
  </div>
  <%= turbo_frame_tag 'password_user_errors' %>
  <%= turbo_frame_tag 'password_user_notice' %>
  <hr>
  <div class="red-color"><%= t('views.required_input') %></div>
  <div class="field">
    <div class="control">
      <%= f.submit "Submit", class: "button green" %>
    </div>
  </div>
<% end %>
