<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      <%= t('title.default') %> <b class="font-black"><%= t('title.parent') %></b>
      <small>
        <%= "#{PublisherPortal::VERSION} (#{environment})" %>
      </small>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="active">
        <%= link_to root_path, title: t('nav.dashboard.title') do %>
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label"><%= t('nav.dashboard.title') %></span>
        <% end %>
      </li>
    </ul>
    <p class="menu-label">
      <span class="icon"><i class="mdi mdi-table"></i></span>
      <%= t('nav.lists.title') %>
    </p>
    <ul class="menu-list">
      <% if policy(Author).index? %>
        <li class="--set-active-tables-html <%= active_if('authors') %>">
          <%= link_to authors_path, title: t('nav.lists.authors') do %>
            <span class="icon"></span>
            <span class="menu-item-label"><%= t('nav.lists.authors') %></span>
          <% end %>
        </li>
      <% end %>
      <li class="--set-active-forms-html">
        <a href="forms.html">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Forms</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a href="profile.html">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Profile</span>
        </a>
      </li>
      <li>
        <a href="login.html">
          <span class="icon"><i class="mdi mdi-lock"></i></span>
          <span class="menu-item-label">Login</span>
        </a>
      </li>
      <li>
        <a class="dropdown">
          <span class="icon"><i class="mdi mdi-view-list"></i></span>
          <span class="menu-item-label">Submenus</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li>
            <a href="#void">
              <span>Sub-item One</span>
            </a>
          </li>
          <li>
            <a href="#void">
              <span>Sub-item Two</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="menu-label">About</p>
    <ul class="menu-list">
      <li>
        <a href="https://justboil.me/tailwind-admin-templates/free-dashboard/" class="has-icon">
          <span class="icon"><i class="mdi mdi-help-circle"></i></span>
          <span class="menu-item-label">About</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/justboil/admin-one-tailwind" class="has-icon">
          <span class="icon"><i class="mdi mdi-github-circle"></i></span>
          <span class="menu-item-label">GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</aside>