<section class="section main-section" data-controller="fade-out" data-fade-out-target="frame">
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        <%= @publisher.persisted? ? t('views.admin.publishers.edit.title') : t('views.admin.publishers.new.title') %>
      </p>
    </header>
    <div class="card-content">
      <%= form_with model: @publisher, url: admin_publishers_path, data: { turbo: true } do |f| %>
        <div class="field">
          <%= f.label :title, class: "label" %>
          <div class="control">
            <%= f.text_field :title, class: "input", placeholder: "Title" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :address, class: "label" %>
          <div class="control">
            <%= f.text_field :address, class: "input", placeholder: "Address" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :url, class: "label" %>
          <div class="control">
            <%= f.text_field :url, class: "input", placeholder: "Website URL" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control icons-left">
            <%= f.email_field :email, class: "input", placeholder: "Email", value: @publisher.email %>
            <span class="icon left"><i class="mdi mdi-mail"></i></span>
          </div>
        </div>

        <div class="field">
          <%= f.label :active, class: "label" %>
          <div class="control">
            <%= f.check_box :active, class: "checkbox" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :content, class: "label" %>
          <div class="control">
            <%= f.rich_text_area :content, class: "textarea", placeholder: "Content", data: { controller: 'trix' } %>
          </div>
        </div>
        <hr>

        <div class="field grouped">
          <div class="control">
            <%= f.submit "Submit", class: "button green" %>
          </div>
          <div class="control">
            <% if @turbo_request %>
              <%= button_tag t('helpers.submit.cancel'), type: "reset", class: "button",
                             data: { action: "fade-out#remove" } %>
            <% else %>
              <%= link_to t('helpers.submit.cancel'), admin_publishers_path, class: "button", data: { turbo_frame: "_top" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>