<%= render 'layouts/header/admin_navbar' %>
<%= render 'layouts/aside/admin_nav' %>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title"><%= t('views.admin.users.title') %></h1>
  </div>
</section>
<section class="section main-section">
  <%= form_tag '#', id: 'sortable-form', data: { turbo: true, url: move_admin_category_path('id'),
                                                 raw_url: move_admin_category_path('id') } do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :position, '', data: { sortable_target: 'position' } %>
  <% end %>
  <%= turbo_frame_tag 'category_message' %>

  <% @languages.each do |language| %>
    <div class="border border-gray-300 rounded mb-2 shadow-sm" data-controller="toggle">
      <div class="flex items-center justify-between bg-gray-100 p-3 cursor-pointer hover:bg-gray-200"
           data-action="click->toggle#toggle">
        <div class="flex items-center space-x-2">
          <% if language.categories.by_first_category.any? %>
            <button class="button small">
              <span class="icon">
                <i data-toggle-target="icon" class="mdi mdi-minus text-gray-600 text-lg"></i>
              </span>
            </button>
          <% else %>
            <span class="w-4"></span>
          <% end %>
          &nbsp;&nbsp;<span class="text-sm text-gray-600"><%= language.name %></span>
        </div>
      </div>

      <% if language.categories.by_first_category.any? %>
        <div data-toggle-target="content"
             class="pl-4 max-h-[1000px] opacity-100 transition-all duration-300 ease-in-out">
          <%= render 'category_tree', categories: language.categories.by_first_category %>
        </div>
      <% end %>
    </div>
  <% end %>

</section>
<%= render 'modals/destroy_modal' %>
