<% if @errors.present? %>
  <%= turbo_stream.update 'category_errors', partial: 'admin/categories/errors', locals: { errors: @errors } %>
<% else %>
  <%= turbo_stream.update "category_notice", partial: 'shared/notice', locals: { notice: t('views.admin.categories.update_success') } %>
  <%= turbo_stream.prepend "user_notice" do %>
    <div data-controller="auto-fade-out" ></div>
  <% end %>
  <%= turbo_stream.update dom_id(@category) do %>
    <%= render @category, highlight: true %>
  <% end %>
<% end %>
