<td data-label="title"><%= series.title %></td>
<td data-label="subtitle"><%= series.subtitle %></td>
<td data-label="isbn"><%= series.isbn %></td>
<td data-label="active">
  <%= content_tag(:i, "", class: "mdi #{series.active ? 'mdi-check-circle text-green-500' : 'mdi-close-circle text-red-500'}") %>
</td>
<td data-label="imported">
  <%= content_tag(:i, "", class: "mdi #{series.imported ? 'mdi-check-circle text-green-500' : 'mdi-close-circle text-red-500'}") %>
</td>
<td data-label="checked">
  <%= content_tag(:i, "", class: "mdi #{series.checked ? 'mdi-check-circle text-green-500' : 'mdi-close-circle text-red-500'}") %>
</td>
<td data-label="ebooks"><%= series.ebooks.count %></td>
<td class="actions-cell">
  <div class="buttons right nowrap">
    <button class="button small blue --jb-modal"  data-target="sample-modal-2" type="button">
      <span class="icon"><i class="mdi mdi-eye"></i></span>
    </button>
    <%= link_to edit_series_path(series), class: "button small green", title: t('views.series.edit_button'),
                data: { turbo_frame: "series_form", turbo_stream: 'update' } do %>
      <span class="icon"><i class="mdi mdi-pencil"></i></span>
    <% end %>
    <%= button_tag type: 'button', class: 'button small red',
                   data: { controller: "modal", action: "click->modal#open",
                           target: "modal-destroy", destroy_url: series_path(series),
                           question_text: t('views.series.destroy_modal.text', name: series.title)
                   } do %>
      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
    <% end unless series.imported %>
  </div>
</td>
