<div class="card has-table">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span><%= t('views.ebooks.title') %>
      &nbsp;&nbsp;
      <%= link_to new_series_path, class: "button small blue", title: t('views.ebooks.new_button'),
                  data: { turbo_frame: "ebooks_form", turbo_stream: 'update' } do %>
        <span class="icon"><i class="mdi mdi-plus"></i></span>
      <% end %>
    </p>
    <%= form_with url: ebooks_path, method: :get,
                  data: { controller: 'search-form', turbo_frame: 'result', turbo_stream: 'update' },
                  class: "control has-icons-left" do |f| %>
      <div class="field">
        <div class="field-body">
          <div class="field">
            <div class="control icons-left">
              <%= f.text_field :query, placeholder: t('helpers.placeholder.search'), class: "input",
                               data: { "search-form-target": 'input', action: 'keyup->search-form#handleKeyup' } %>
              <span class="icon left"><i class="mdi mdi-magnify"></i></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <div class="card-content">
    <%= turbo_frame_tag 'results' do %>
      <%= render partial: 'ebooks/ebooks' %>
    <% end %>
  </div>
</div>
